<%#
# Application Layout

This view template is used as the layout
for every page that Administrate generates.

By default, it renders:
- Navigation
- Content for a search bar
  (if provided by a `content_for` block in a nested page)
- Flashes
- Links to stylesheets and JavaScripts
%>
<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="ROBOTS" content="NOODP">
    <meta name="viewport" content="initial-scale=1">
    <title> <%= content_for(:title) %> - <%= application_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "stylesheet" %>
    <%= render "javascript" %>
    <%= csp_meta_tag if defined?(csp_meta_tag) %>
  </head>
  <body data-scrollbar-auto-hide="n" class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <%= render "base/header" %>
      <%= render "base/sidebar" %>
      <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <%= render_breadcrumbs :separator => ' / ' %> <%="/ "+params[:type] if params.key? :type%>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <div class="content container-fluid">
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
      </div>
      <%= render "base/footer" %>
      <div>
      </body>
    </html>
