<%#
# Collection

This partial is used on the `index` and `show` pages
to display a collection of resources in an HTML table.

## Local variables:

- `collection_presenter`:
  An instance of [Administrate::Page::Collection][1].
  The table presenter uses `ResourceDashboard::COLLECTION_ATTRIBUTES` to determine
  the columns displayed in the table
- `resources`:
  An ActiveModel::Relation collection of resources to be displayed in the table.
  By default, the number of resources is limited by pagination
  or by a hard limit to prevent excessive page load times

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Collection
%>
<table id="example1" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="example1_info"  aria-labelledby="<%= table_title %>">
  <thead>
    <tr>
      <% collection_presenter.attribute_types.each do |attr_name, attr_type| %>
        <% next if authorized_scope(resource_class, type: :field_authorization, scope_options: {field: attr_name})%>
        <th <%="width=10" if attr_type.html_class == "number"%> tabindex="0" aria-controls="example1" rowspan="1" colspan="1" class="sorting cell-label <%="px-2 text-center" if attr_type.html_class == "number"%>
        cell-label--<%= attr_type.html_class %>
        cell-label--<%= collection_presenter.ordered_html_class(attr_name) %>
        cell-label--<%= "#{collection_presenter.resource_name}_#{attr_name}" %>"
        scope="col"
        aria-sort="<%= sort_order(collection_presenter.ordered_html_class(attr_name)) %>">
          <%= link_to(sanitized_order_params(page, collection_field_name).merge(
          collection_presenter.order_params_for(attr_name, key: collection_field_name)
        )) do %>
            <%= t(
          "helpers.label.#{collection_presenter.resource_name}.#{attr_name}",
          default: resource_class.human_attribute_name(attr_name).titleize,
        ) %>
          <% end %>
        </th>
      <% end %>
      <%= render(
        "collection_header_actions",
        collection_presenter: collection_presenter,
        page: page,
        resources: resources,
        table_title: "page-title"
      ) %>
    </tr>
  </thead>
  <tbody>
    <% resources.each do |resource| %>
      <tr class="js-table-row <%="bg-danger" if resource.deleted_at.present?%>"
          <% if accessible_action?(resource, :show) %>
            <%= %(tabindex=0 role=link data-url=#{polymorphic_path([namespace, resource])}) %>
          <% end %>
          >
        <% collection_presenter.attributes_for(resource).each do |attribute| %>
          <% next if authorized_scope(resource, type: :field_authorization, scope_options: {attribute: attribute}) %>
          <td class="cell-data cell-data--<%= attribute.html_class %> <%="px-3 text-center" if attribute.html_class == "number"%>">
            <% if accessible_action?(resource, :show) -%>
              <a href="<%= polymorphic_path([namespace, resource]) -%>"
                 tabindex="-1"
                 class="action-show"
                 >
                <%= render_field attribute %>
              </a>
            <% else %>
              <%= render_field attribute %>
            <% end -%>
          </td>
        <% end %>
        <%= render(
          "collection_item_actions",
          collection_presenter: collection_presenter,
          collection_field_name: collection_field_name,
          page: page,
          namespace: namespace,
          resource: resource,
          table_title: "page-title"
        ) %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-end">
      <%= render("pagination", resources: resources) %>
    </div>
  </div>
</div>
