<div class="col-12">
        <%=form_for admin_transactions_path, method: :post do%>
        <div class="row">
        <div class="col-2" data-controller="selectize">
            <select id="transfer_code" name="transfer_code">
                <option value="-">Choose transfer code</option>
                <%@transfer_codes.each do |t|%>
                    <option value="<%=t%>" <%="selected" if params[:type]&.to_sym == t%>><%=t.to_s.humanize%></option>
                <%end%>
            </select>
        </div>
        <div class="col-2">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                    <input name="transfer_amount" class="form-control" type="number" min="0" placeholder="00.00">
            </div>
        </div>
        <div class="col-4">
            <%=render "select_account", name: "from_id", placeholder: "Choose Account" if params[:type] == "withdraw"%>
            <%=render "select_account", name: "to_id", placeholder: "Choose Account" if params[:type] == "deposit"%>

            <% if params[:type] == "transfer"%>
                <div class="row">
                <div class="col-6">
                    <%=render "select_account", name: "from_id", placeholder: "From Account"%>
                </div>
                <div class="col-6">
                    <%=render "select_account", name: "to_id", placeholder: "To Account"%>
                </div>
                </div>
            <% end %>
        </div>
        <% if @transfer_codes.include? params[:type]&.to_sym%>
        <div class="col-2" id="button">
            <button type="submit" class="btn btn-primary">Process</button>
        </div>
        <% end%>
        <% end %>
    </div>
</div>